parameters:
    checkMissingIterableValueType: false
    excludes_analyse:
        - public/
        - scripts/

    inferPrivatePropertyTypeFromConstructor: true

    level: max

    paths:
        - app
        - tests
